.filter-container {
  height: 100px;
  background-color: rgb(223, 223, 223);
  /* position: relative; */
}
.dropdown-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 25px 0 0 70px;
}
.ant-select {
  width: 185px;
}
.ant-select-selection-placeholder {
  color: black !important;
}
/* :where(.css-dev-only-do-not-override-cdzvx5) {
height: 70px;
} */
 .rc-virtual-list-holder {
max-height: 150px;

 }
.ant-switch {
  position: absolute;
  top: 30px;
  right: 20px;
}
.clear-icon {
  width: 15px;
  height: 15px;
}