.subtechniques-list-wrapper {
  visibility: visible;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  height: 80px;
  /* font-size: 14px; */
  margin-bottom: 2px;
  border-radius: 5px;
}
.subtechniques-id {
  font-weight: 700;
}
.subtechniques-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.subtechniques-event {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 18px;
  border-radius: 50%;
  background-color: #efdac7;
}
.hovering-technique {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* MEDIA */

@media only screen and (min-width: 150px) and (max-width: 900px) {
}
@media only screen and (min-width: 900px) and (max-width: 2799) {
}
@media only screen and (min-width: 2800px) {
}
