    .Header {
      align-items: center;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #fff;
      background-color: #00108A;
      box-sizing: border-box;
      padding: 2% 5%;
      /* clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%, 0 0); */


      #telenorLogo {
        width: 4rem;
        height: 4rem;
        background: url("./images/telenorLogo.png");
        margin-right: 25px;
      }

      .title {
        display: flex;
        align-items: center;
        color: #fff;

        h1 {
          display: inline;
          margin: 0px 20px 0 0;
          font-family: 'Segoe UI', sans-serif;
          color: #fff;
        }

        h2 {
          display: inline;
          font-family: 'DIN', sans-serif;
          text-align: left;

        }


      }

    }
