.table-id-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0 0 2px 2px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: #118DFF;


}
.table-id {
  width: 100%;
  /* border-top: 1px solid rgb(192, 192, 192); */
  color: white;
}
.table-number {
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  display: flex;
  position: absolute;
  top: -24px;
  left: 38%;
  right: 38%;
  background-color: #118DFF ;
  border: 1px solid black;
  color: white;

  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.table-name {
  overflow: hidden;
  /* font-size: 1vw; */
  font-weight: 500;
}
.table-tactic-wrapper {
  background-color: #118DFF ;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 2px 2px 0 0;
}
.all-techniques-list {
  /* width: 100%; */
}


@media (max-width: 1450px) {
  .table-number {
    left: 38%;
    width: 20px;
    height: 20px;
    top: -12px;
  }
  .all-techniques-list {
    width: auto;
  }
  
}

@media (min-width: 2300px) {
}

.subtechniques-list-wrapper {
  visibility: visible;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  height: 80px;
  /* font-size: 14px; */
  margin-bottom: 2px;
  border-radius: 5px;
}
.subtechniques-id {
  font-weight: 700;
}

.subtechniques-event {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 18px;
  border-radius: 50%;
  background-color: #efdac7;
}
.hovering-technique {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* MEDIA */

@media only screen and (min-width: 150px) and (max-width: 900px) {
}
@media only screen and (min-width: 900px) and (max-width: 2799) {
}
@media only screen and (min-width: 2800px) {
}
