.table-id-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0 0 2px 2px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  background-color: #118DFF;


}
.table-id {
  width: 100%;
  /* border-top: 1px solid rgb(192, 192, 192); */
  color: white;
}
.table-number {
  align-items: center;
  text-align: center;
  /* text-align: center; */
  justify-content: center;
  display: flex;
  position: absolute;
  top: -1.1rem;
  left: 38%;
  right: 38%;
  background-color: #118DFF ;
  border: 0.15rem solid white;
  color: white;
font-weight: 500;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
.table-name {
  overflow: hidden;
  /* font-size: 1vw; */
  font-weight: 500;
  padding: 4px;
  padding-top: 0.6rem;
}
.table-tactic-wrapper {
  background-color: #118DFF ;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 2px 2px 0 0;
}

.subtechniques-list-wrapper {
  visibility: visible;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  height: 22rem;
  /* font-size: 14px; */
  margin-bottom: 2px;
  border-radius: 5px;
}
.subtechniques-id {
  font-weight: 700;
}

.subtechniques-event {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #efdac7;
}
.hovering-technique {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* MEDIA */

@media only screen and (min-width: 150px) and (max-width: 900px) {
}
@media only screen and (min-width: 900px) and (max-width: 2799) {
}
@media only screen and (min-width: 2800px) {
}
