.tecnique-wrapper {
  display: flex;
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
  margin-bottom: 2px;
  flex-direction: column;
}
.tecnique-wrapper:nth-child(odd) {
  background-color: #ffffff;
}
.tecnique-wrapper:hover {
  background-color: #f5f8fc;
  transition: 0.7s;
}

.subtechniques-name {
  /* font-size: 0.5vw; */
}
.subtechniques-list-box {
  box-sizing: border-box;
  padding: 8px;
  height: 95%;
  width: 95%;
}
.subtechniques-id {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}
.subtechniques-list {
  height: 75px;
  /* overflow: auto; */
}
.subtechniques-event {
  color: white;
}

.yellow {
  background-color: #ffd903 !important;
}
.orange {
  background-color: #e9692c !important;
}
.red {
  background-color: #e10000 !important;
}

.tooltip-fs {
  font-size: 10px;
  color: black;
  transition: 1s;
}

/* SCROLL BAR*/
::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 4px;
}
::-webkit-scrollbar {
  width: 3px !important;
  margin-right: 50px;
}
::-webkit-scrollbar-thumb {
  background: rgb(218, 217, 217);
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 1270px) {
  .subtechniques-list {
    height: 75px;
    /* overflow: auto; */
  }
}

@media (min-width: 1600px) {
  .subtechniques-list {
    height: 90px;
    /* overflow: auto; */
  }
}
