    .Header {
      align-items: center;
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 100px;
      background-color:  #00108a; 

      box-sizing: border-box;
      padding: 2% 5%;

      #telenorLogo {
        width: 4rem;
        height: 4rem;
        margin-right: 25px;
      }

      .title {
        display: flex;
        align-items: center;
        color: #fff;

        h1 {
          display: inline;
          margin: 0px 20px 0 0;
          font-family: 'Segoe UI', sans-serif;
          color: #fff;
        }

        h2 {
          display: inline;
          font-family: 'DIN', sans-serif;
          text-align: left;

        }


      }

    }
